@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  // background-color: #0d1224;
  background-color: #111239;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

/* START: Smooth Scroll Behavior */
html {
  scroll-behavior: smooth;
}

.section {
  scroll-margin-top: 92px;
}
/* End: Smooth  Scroll Behavior */

/* START: General styles */
.max-width {
  @apply max-w-[1280px] mx-auto;
}

// navbar
/* styles/globals.css */
@keyframes borderRotate {
  0% {
    border-image-source: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
  }
  100% {
    border-image-source: linear-gradient(to left, #ff0000, #00ff00, #0000ff);
  }
}

.border-rotating {
  border-width: 4px;
  border-style: solid;
  border-image-slice: 1;
  animation: borderRotate 5s linear infinite;
}
